* {
  border: 1px solid red;
  font-family: sans-serif;
}

#slackLogoContainer {
  margin: 5px 10px;
  background: url(../images/slack-logo.png);
  background-size: 100%;
  background-position: center;
  width: 100px;
}

.navbarDivider {
  margin: 0;
}

.contentAlign {
  margin: 2% 3%;
}

.headerTitle {
  font-size: 2.4em;
  margin-right: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.pContainer {
  margin: 10px;
}

input[type=text] {
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  font-size: 1em;
  text-align: left;
  width: 95%;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 6px;
}

input::placeholder {
  font-size: 1em;
  text-align: left;
}

.buttonContainer {
  margin: 10px;
}

button {
  width: 100%;
  background-color: #192592;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-radius: 6px;
  margin: 20px;
}

.spanContainer {
  text-align: center;
}

.imgPeopleSmall {
  margin: 40px 0;
}

.mainFirstInnerContainer {
  background-color: rgb(177, 176, 176);
}

.mainTitle {
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
  padding: 20px 10px;
}

.mainPContainer {
  text-align: center;
  margin: 10px;
}

.whiteButton {
  width: 95%;
  color: #192592;
  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-radius: 6px;
  margin: 10px;
  border: 1px solid #192592;
}

.logosContainer {
  padding: 60px;
}

.logos {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.mainSecondInnerContainer {
  text-align: center;
  margin-top: 40px;
}

.mainP {
  font-size: 1.2em;
  font-weight: bold;
}

.slackPoundMobile {
  width: 80px;
  margin: 0;
}

footer > hr {
  margin-top: 30px;
  margin-bottom: 0;
}

.footerFirstContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.fourthUl {
  margin-left: 22px;
}

ul li {
  margin: 5px;
}

.firstLi {
  font-weight: bold;
}

.footerEnd {
  background-color: rgb(177, 176, 176);
  align-content: center;
}

.footerEndUl {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.languageContainer {
  text-align: center;
}

.usFlag {
  width: 30px;
  margin: 5px;
  vertical-align: middle;
}

.language {
  font-weight: bold;
}

.socialMediaContainer {
  text-align: center;
  padding: 5px;
}

.fa {
  margin: 6px;
}

@media (max-width: 767px) {
  .imgPeopleBig {
    display: none;
  }

  .slackPoundOther {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 961px) {
  .imgPeopleBig {
    display: none;
  }

  .headerTitle {
    font-size: 3.5em;
    width: 90%;
  }

  .emailButtonContainer {
    display: flex;
  }

  .formOne {
    width: 300px;
  }

  .spanContainer {
    text-align: left;
    margin-left: 10px;
    font-size: 0.9em;
  }
  
  .imgPeople {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .whiteButton {
    width: 30%;
    margin-left: 35%;
  }

  .logosContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .logos {
    width: 40%;
    padding: 30px;
  }

  .mainSecondInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mainThirdInnerContainer {
    display: flex;
  }

  .mainP {
    text-align: left;
  }

  .formTwo {
    width: 200px;
   
  }

  .footer {
    display: flex;
  }

  .slackPoundMobile {
    display: none;
  }

  .slackPoundOther {
    height: 100px;
  }

  .footerFirstContainer {
    margin: 20px 0;
  }

  .uls {
    margin-left: 20px;
  }

  .footerEnd {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  .imgPeopleBig {
    display: none;
  }
  
  .headerTitle {
    font-size: 3.5em;
    width: 90%;
  }

  .emailButtonContainer {
    display: flex;
  }

  .formOne {
    width: 300px;
  }

  .spanContainer {
    text-align: left;
    margin-left: 10px;
    font-size: 0.9em;
  }
  
  .imgPeople {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .whiteButton {
    width: 30%;
    margin-left: 35%;
  }

  .logosContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .logos {
    width: 33%;
    padding: 40px;
    flex-grow: 1;
  }

  .mainSecondInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mainThirdInnerContainer {
    display: flex;
  }

  .mainP {
    text-align: left;
  }

  .formTwo {
    width: 200px;
   
  }

  .footer {
    display: flex;
  }

  .slackPoundMobile {
    display: none;
  }

  .slackPoundOther {
    height: 100px;
  }

  .footerFirstContainer {
    margin: 20px 0;
  }

  .uls {
    margin-left: 20px;
  }

  .footerEnd {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .imgPeopleSmall {
    display: none;
  }

  header {
    display: flex;
  }
}